* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1. Ponemos la imagen de fondo anclada a la pantalla */
body {
    background-image: url('../assets/img/foto-principal.jpg'); /* Llama a tu foto */
    background-size: cover; /* Hace que cubra toda la pantalla */
    background-position: center;
    background-attachment: fixed; /* EFECTO PREMIUM: La foto se queda quieta al hacer scroll */
    color: var(--blanco);
    font-family: var(--font-text);
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

/* 2. LA MAGIA: La capa de espejo desenfocado AZUL MARINO */
body::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    /* El truco: Tu azul corporativo exacto, pero con 75% de transparencia */
    background: rgba(0, 26, 88, 0.75); 
    
    backdrop-filter: blur(15px); /* El efecto de cristal empañado */
    -webkit-backdrop-filter: blur(15px);
    z-index: -1; 
}
h1, h2, h3 {
    font-family: var(--font-title);
}