:root {
    --bg-dark: #001a58; /* Tu azul oscuro como fondo principal */
    --gris-marca: #626262;
    --blanco: #ffffff;
    --acento: #d4af37; /* Un doradito elegante para resaltar */
    
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Montserrat', sans-serif;
}